
<head>

<!-- Include mandatory JS and CSS -->

</head>

<body>

</body>

<!-- Preferely include JS in the end of document -->
<script>
    function alertDemo(){
        alert("Hello")
    }
</script>

<script src="basic.js"></script>
    